
body{
    height: 100vh;
    display: flex;
    /* background-color: rgb(119, 138, 132); */
    justify-content: center;
    align-items: center;
}
.header{
    font-weight: 900;
    font-size: 60px;
    background-color: aquamarine;
    border-radius: 5px;

}

.box{
 background-color: aliceblue;
 padding: 20px;
 border-radius: 10px;
 h1{
    text-align: center;
 }
}

.cell{
    display: flex;
    justify-content: center;
    align-items: center;
    /* flex-direction: column; */
    gap: 10px;
    height: 100px;


}
.btn{

    height: 40px;
    border: none;
    background-color: rgb(110, 218, 22);
    border-radius: 10px;
    /* translate: ; */
    opacity: 0.7;
    font-size: medium;
    transition: all linear 0.5s;
    text-align: center;
}
.btn:active{
    scale: 1.4;
}

.display{
    display: inline-block;
    text-align: center;
    margin-left: 130px;
    height: 25px;
    border-radius: 10px;
    background-color: blanchedalmond;
    min-width: 80px;
    padding: 10px;
}

